@model Dakk_Manager.Website.Models.Dakk_Data

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dakk_Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOnLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOnLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Givennumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Givennumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addressee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addressee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sectionoforigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sectionoforigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receivedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receivedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ForwardTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForwardTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pdfdirectory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pdfdirectory)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
